[project]
	description = Simple X11 based notepad application for learning purpose
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/bdesi
[access "refs/for/refs/*"]
	read = group user/bdesi
	push = group user/bdesi
	label-Code-Review = -2..+2 group user/bdesi
	label-Verified = -1..+1 group user/bdesi
	rebase = group user/bdesi
	removeReviewer = group user/bdesi
	submit = group user/bdesi
[access "refs/heads/*"]
	read = group user/bdesi
	create = group user/bdesi
	push = +force group user/bdesi
	pushMerge = group user/bdesi
[access "refs/tags/*"]
	push = +force group user/bdesi
	pushTag = group user/bdesi
	pushSignedTag = group user/bdesi
